<div class="page-header">
  <h1>Wiki Description of SLAM</h1>
  <p>
    In robotics, Simultaneous localization and mapping (SLAM) is the computational problem of constructing or updating a map of an unknown environment while simultaneously keeping track of an agent's location within it. While this initially appears to be a chicken-and-egg problem there are several algorithms known for solving it, at least approximately, in tractable time for certain environments. Popular approximate solution methods include the particle filter and extended Kalman filter.
  </p>

  <p>
    SLAM algorithms are tailored to the available resources, hence not aimed at perfection, but at operational compliance. Published approaches are employed in self-driving cars, unmanned aerial vehicles, autonomous underwater vehicles, planetary rovers, newly emerging domestic robots and even inside the human body.
  </p>

  <h1>Comments</h1>
</div>

<%= link_to "Post a Comment", new_status_path, class: "btn btn-success" %>

<% @statuses.each do |status| %>
<% if can_display_status?(status) %>
<div class="status media">
  <%= avatar_profile_link status.user, {}, class: 'pull-left' %>
  <div class="media-body">
    <h4 class="media-heading"><%= status.user.full_name %></h4>
    <p><%= status.content %></p>
    <%= status_document_link(status) %>
    <div class="meta">
      <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
      <% if signed_in? && current_user == status.user %>
      <span class="admin">
        | <%= link_to "Edit", edit_status_path(status) %> | 
        <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
      </span>
      <% end %>
    </div>
  </div>
</div>
<% end %>
<% end %>
</br></br></br>